In [19]:
%matplotlib notebook
import numpy as np
import pandas as pd
from IPython.display import display, Markdown, Latex,HTML
import os
%autosave 1

def maxMin(x, y):
    z = []
    for x1 in x:
        for y1 in y.T:
            z.append(max(np.minimum(x1, y1)))
    return np.array(z).reshape((x.shape[0], y.shape[1]))

Autosaving every 1 seconds

In [12]:
display(Markdown("<h3>Enter First matrix file Name</h3>"))
base_path = os.getcwd()
while True:
    filename = input()
    full_path = os.path.join(base_path,filename)
    if  os.path.isfile(full_path):
        print("file found")
        break
    else:
        print("file not found. please enter proper input file name or place the file in  the same directory")

file_id = filename.split('.')[0]
x = np.genfromtxt(full_path,dtype=np.float32, delimiter=',')

<h3>Enter First matrix file Name</h3>

x.csv
file found

In [21]:
x

array([[1. , 0.8, 0. , 0.1, 0.2],
       [0.8, 1. , 0.4, 0. , 0.9],
       [0. , 0.4, 1. , 0. , 0. ],
       [0.1, 0. , 0. , 1. , 0.5],
       [0.2, 0.9, 0. , 0.5, 1. ]], dtype=float32)

In [14]:
display(Markdown("<h3>Enter the next matrix file Name</h3>"))
base_path = os.getcwd()
while True:
    filename = input()
    full_path = os.path.join(base_path,filename)
    if  os.path.isfile(full_path):
        print("file found")
        break
    else:
        print("file not found. please enter proper input file name or place the file in  the same directory")

file_id = filename.split('.')[0]
y = np.genfromtxt(full_path,dtype=np.float32, delimiter=',')

<h3>Enter the next matrix file Name</h3>

x.csv
file found

In [20]:
R = maxMin(x,y)
df = pd.DataFrame(R)
display(Markdown("<h4>Min-Max Composition</h4>"))
df

<h4>Min-Max Composition</h4>

     0    1    2    3    4
0  1.0  0.8  0.4  0.2  0.8
1  0.8  1.0  0.4  0.5  0.9
2  0.4  0.4  1.0  0.0  0.4
3  0.2  0.5  0.0  1.0  0.5
4  0.8  0.9  0.4  0.5  1.0

In [24]:
display(Markdown("<h4>Squared Min-Max Composition</h4>"))
df.dot(df)

<h4>Squared Min-Max Composition</h4>

      0     1     2     3     4
0  2.48  2.58  1.44  1.20  2.58
1  2.58  2.86  1.48  1.61  2.85
2  1.44  1.48  1.48  0.48  1.48
3  1.20  1.61  0.48  1.54  1.61
4  2.58  2.85  1.48  1.61  2.86

In [25]:
display(Markdown("<h4>cubed Min-Max Composition</h4>"))
df.dot(df).dot(df)

<h4>cubed Min-Max Composition</h4>

          0         1      2      3      4
0  7.424001  8.062000  4.496  4.276  8.062
1  8.062000  8.886000  4.796  4.981  8.885
2  4.496000  4.796000  3.240  2.248  4.796
3  4.276000  4.981000  2.248  3.390  4.981
4  8.062000  8.884999  4.796  4.981  8.886

In [26]:
display(Markdown("<h4>fourth powered Min-Max Composition</h4>"))
df.dot(df).dot(df).dot(df)

<h4>fourth powered Min-Max Composition</h4>

           0          1          2          3          4
0  22.976801  25.193401  13.915201  13.822801  25.193401
1  25.193401  27.740999  15.129200  15.478900  27.740900
2  13.915200  15.129201   8.875200   7.943200  15.129200
3  13.822802  15.478900   7.943200   9.226200  15.478900
4  25.193399  27.740900  15.129200  15.478900  27.740999