In [51]:
%matplotlib notebook
import numpy as np
import pandas as pd
from IPython.display import display, Markdown, Latex,HTML
import os
%autosave 1

def maxMin(x, y):
    z = []
    for x1 in x:
        for y1 in y.T:
            z.append(max(min(x1), min(y1)))
    return np.array(z).reshape((x.shape[0], y.shape[1]))

Autosaving every 1 seconds

In [39]:
display(Markdown("<h3>Enter First matrix file Name</h3>"))
base_path = os.getcwd()
while True:
    filename = input()
    full_path = os.path.join(base_path,filename)
    if  os.path.isfile(full_path):
        print("file found")
        break
    else:
        print("file not found. please enter proper input file name or place the file in  the same directory")

file_id = filename.split('.')[0]
x = np.genfromtxt(full_path,dtype=np.float32, delimiter=',')

<h3>Enter First matrix file Name</h3>

x.csv
file found

In [52]:
display(Markdown("<h3>Enter the next matrix file Name</h3>"))
base_path = os.getcwd()
while True:
    filename = input()
    full_path = os.path.join(base_path,filename)
    if  os.path.isfile(full_path):
        print("file found")
        break
    else:
        print("file not found. please enter proper input file name or place the file in  the same directory")

file_id = filename.split('.')[0]
y = np.genfromtxt(full_path,dtype=np.float32, delimiter=',')

<h3>Enter the next matrix file Name</h3>

x.csv
file found

In [54]:
R = maxMin(x,y)
df = pd.DataFrame(R)
display(Markdown("<h4>Min-Max Composition</h4>"))
df

<h4>Min-Max Composition</h4>

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  1.0  2.0  3.0  4.0
2  1.0  2.0  3.0  4.0
3  1.0  2.0  3.0  4.0

In [55]:
display(Markdown("<h4>Squared Min-Max Composition</h4>"))
df.dot(df)

<h4>Squared Min-Max Composition</h4>

      0     1     2     3
0  10.0  20.0  30.0  40.0
1  10.0  20.0  30.0  40.0
2  10.0  20.0  30.0  40.0
3  10.0  20.0  30.0  40.0

In [56]:
display(Markdown("<h4>cubed Min-Max Composition</h4>"))
df.dot(df).dot(df)

<h4>cubed Min-Max Composition</h4>

       0      1      2      3
0  100.0  200.0  300.0  400.0
1  100.0  200.0  300.0  400.0
2  100.0  200.0  300.0  400.0
3  100.0  200.0  300.0  400.0

In [57]:
display(Markdown("<h4>fourth powered Min-Max Composition</h4>"))
df.dot(df).dot(df).dot(df)

<h4>fourth powered Min-Max Composition</h4>

        0       1       2       3
0  1000.0  2000.0  3000.0  4000.0
1  1000.0  2000.0  3000.0  4000.0
2  1000.0  2000.0  3000.0  4000.0
3  1000.0  2000.0  3000.0  4000.0