In [1]:
import numpy as np
import pandas as pd
import IPython
from IPython.display import display, Markdown, Latex,HTML
from matplotlib import pyplot
import matplotlib.pylab as plt
import seaborn as sns
import os
import pygraphviz as pgv
from pygraphviz import *
%autosave 1

Autosaving every 1 seconds

In [2]:
print("Enter File Name")
base_path = os.getcwd()
while True:
    filename = input()
    full_path = os.path.join(base_path,filename)
    if  os.path.isfile(full_path):
        print("file found")
        break
    else:
        print("file not found. please enter proper input file name or place the file in  the same directory")

file_id = filename.split('.')[0]

Enter File Name
shaney.csv
file found

In [3]:
#/Users/saching12/Desktop/python codes/ISM/
df = pd.read_csv(full_path, delim_whitespace=True, index_col=0)
name = " <h3>Structural Self-Interaction Matrix : </h3>"
display(Markdown(name))
display(df)
IPM = np.empty(df.shape, dtype=int)

size = len(df.columns)
i = 0
# index is not being used
for index, row in df.iterrows():
    size = len(df.columns)
    while size > 0:
        if i == size - 1:
            IPM[size - 1][i] = 1
        elif pd.isnull(row[str(size)]):
            break
        else:
            if row[str(size)] == 'V':
                IPM[i][size - 1] = 1
                IPM[size - 1][i] = 0
            elif row[str(size)] == 'A':
                IPM[i][size - 1] = 0
                IPM[size - 1][i] = 1
            elif row[str(size)] == 'X':
                IPM[i][size - 1] = 1
                IPM[size - 1][i] = 1
            elif row[str(size)] == 'O':
                IPM[i][size - 1] = 0
                IPM[size - 1][i] = 0
            else:
                print("Invalid Output")
        size -= 1
    i += 1




FRM = IPM.copy()
FRM = pd.DataFrame(data=FRM,columns=df.columns[::-1],index=df.index.values)
name = " <h3>Initial Reachability Matrix : </h3>"
display(Markdown(name))
FRM

 <h3>Structural Self-Interaction Matrix : </h3>

,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1
parameters,,,,,,,,,,,,,,,,,,
1,X,X,V,X,X,X,V,X,X,V,X,X,X,V,X,V,X,NaN
2,X,X,O,X,X,V,V,V,X,X,X,X,X,X,V,X,NaN,NaN
3,X,X,O,A,X,X,V,X,A,X,X,X,X,V,V,NaN,NaN,NaN
4,X,X,V,A,X,V,V,X,V,X,V,X,X,V,NaN,NaN,NaN,NaN
5,A,X,X,A,X,V,V,X,X,A,X,A,X,NaN,NaN,NaN,NaN,NaN
6,A,X,V,X,X,V,X,X,V,A,X,X,NaN,NaN,NaN,NaN,NaN,NaN
7,A,X,V,A,X,X,V,V,X,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,X,X,X,X,X,X,V,X,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,X,X,V,X,X,X,X,X,V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,X,A,O,A,A,V,O,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,A,X,V,A,X,V,O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,V,A,V,V,A,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,A,A,V,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,X,X,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,X,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 <h3>Initial Reachability Matrix : </h3>

    1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18
1   1  1  1  1  1  1  1  1  1   1   1   1   1   1   1   1   1   1
2   1  1  1  1  1  1  1  1  1   1   1   1   1   1   1   0   1   1
3   0  1  1  1  1  1  1  1  1   0   1   1   1   1   0   0   1   1
4   1  0  0  1  1  1  1  1  1   1   1   1   1   1   0   1   1   1
5   0  1  0  0  1  1  0  1  0   1   1   1   1   1   0   1   1   0
6   1  1  1  1  1  1  1  1  0   1   1   1   1   1   1   1   1   0
7   1  1  1  1  1  1  1  1  1   1   1   1   1   1   0   1   1   0
8   1  1  1  0  1  1  1  1  1   1   1   1   1   1   1   1   1   1
9   0  1  1  1  1  1  1  1  1   1   1   1   1   1   1   1   1   1
10  1  1  1  0  1  0  1  1  0   1   0   0   1   0   0   0   0   1
11  1  0  1  1  1  1  0  1  1   1   1   0   1   1   0   1   1   0
12  0  0  0  0  0  1  0  0  1   0   0   1   1   0   1   1   0   1
13  1  0  1  0  0  0  1  1  1   0   0   1   1   1   1   1   0   0
14  1  1  1  1  1  1  1  1  1   1   1   1   1   1   1   1   1   1
15  1  1  1  1  1  1  1  1  1   1   1   0   1   1   1   1   1   1
16  0  0  0  0  1  0  0  1  0   0   0   0   0   1   1   1   1   1
17  1  1  1  1  1  1  1  1  1   1   1   1   1   1   1   1   1   1
18  1  1  1  1  1  1  1  1  1   1   1   0   1   1   1   1   1   1

In [4]:
class Node: 
    def __init__(self,key): 
        self.U_1 = None
        self.F = None
        self.u_0 = key 
        self.V = None
        self.D = None

In [20]:
def recursive_Subsystem(parameters,key,level,level_node):    
    display(Markdown('<h2>Level:'+str(level)+'</h2>'))

    print("Key:"+str(key))
    L = set()
    ## L-F
    U_1 = set()
    
    ## U_2 = S-L-key(a.k.a u_0)
    U_2 = set()
    
    ## Feedback set declaration
    F = set()
    V = set()
    D = set()

    ## creating lift set and Non lift set for key (a.k.a u_0)
    for d in parameters:
        if FRM.loc[key,d] == 1:
            L.add(d)
        else:
            U_2.add(d)
    print("Displaying L before F and U_2")
    print("Value of L is :",L)
    print("Value of U_2 is :",U_2)

    ## creating feedbackset for key(a.k.a u_0)
    for d in L:
        if FRM.loc[d,key] == 1:
            F.add(d)
    U_1 = L.difference(F)

    ## get vacancy set and drop set
    if len(U_2) > 1:
        for d in U_2:
            if FRM.loc[d,key] == 0:
                V.add(d)
            else :
                D.add(d)
    elif len(U_2) == 1:
        val = U_2.pop()
        if FRM.loc[val,key] == 0:
                V.add(val)
                D = None
        else:
            D.add(val)
            V = None
    else:
        V = None
        D = None

    print("L-F(U_1) : ",U_1)
    print("set F : ",F)
    print("Vacancy  Set :",V)
    print("Drop  Set",D)
    
    if level == 3:
        level_node.U_1 = Node(U_1) if len(U_1) == 1 else None
        level_node.F = F if len(F) >= 1 else None
        level_node.V = Node(V) if V is not None else None
        level_node.D = Node(D) if D is not None else None
    else:
        level_node.F = F
        if len(U_1) > 1:
            key = U_1.pop()
            print("u_0 of U_1:",key)
            new_node = Node(key)
            level_node.U_1 = recursive_Subsystem(U_1,key,level+1,new_node)
        else:
            print("U_1 else mode:")
            level_node.U_1 = Node(U_1)
        
        if V is not None and len(V) > 1 :
            key = V.pop()
            print("u_0 of Vacancy set: ",key)
            new_node = Node(key)        
            level_node.V = recursive_Subsystem(V,key,level+1,new_node)
        else:
            print("V else mode:")
            level_node.V = Node(V) if V is not None else None

        if D is not None and len(D) > 1:    
            key = D.pop()
            print("u_0 of Drop set: ",key)
            new_node = Node(key)        
            level_node.D = recursive_Subsystem(D,key,level+1,new_node)
        else:
            print("D else mode:")
            level_node.D = Node(D) if D is not None else None
    return level_node

In [38]:
FRM.columns = FRM.columns.astype(int)
parameters = set(FRM.columns.to_list())
key = 12
parameters.remove(key)
print(key)
print(parameters)
Head_node = Node(key)
current_node = Head_node

final_node = recursive_Subsystem(parameters,key,1,current_node)

12
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18}

<h2>Level:1</h2>

Key:12
Displaying L before F and U_2
Value of L is : {6, 9, 13, 15, 16, 18}
Value of U_2 is : {1, 2, 3, 4, 5, 7, 8, 10, 11, 14, 17}
L-F(U_1) :  {16, 18, 15}
set F :  {9, 13, 6}
Vacancy  Set : {10, 11}
Drop  Set {1, 2, 3, 4, 5, 7, 8, 14, 17}
u_0 of U_1: 16

<h2>Level:2</h2>

Key:16
Displaying L before F and U_2
Value of L is : {18, 15}
Value of U_2 is : set()
L-F(U_1) :  set()
set F :  {18, 15}
Vacancy  Set : None
Drop  Set None
U_1 else mode:
V else mode:
D else mode:
u_0 of Vacancy set:  10

<h2>Level:2</h2>

Key:10
Displaying L before F and U_2
Value of L is : set()
Value of U_2 is : {11}
L-F(U_1) :  set()
set F :  set()
Vacancy  Set : None
Drop  Set {11}
U_1 else mode:
V else mode:
D else mode:
u_0 of Drop set:  1

<h2>Level:2</h2>

Key:1
Displaying L before F and U_2
Value of L is : {2, 3, 4, 5, 7, 8, 14, 17}
Value of U_2 is : set()
L-F(U_1) :  {3, 5}
set F :  {2, 4, 7, 8, 14, 17}
Vacancy  Set : None
Drop  Set None
u_0 of U_1: 3

<h2>Level:3</h2>

Key:3
Displaying L before F and U_2
Value of L is : {5}
Value of U_2 is : set()
L-F(U_1) :  {5}
set F :  set()
Vacancy  Set : None
Drop  Set None
V else mode:
D else mode:

In [39]:
def inorder_traversal(root,subset):
    if root:
        inorder_traversal(root.U_1,subset)
        if root.F is not None:
            subset.extend(list(root.F))
        if type(root.u_0) is int:
            subset.append(root.u_0)
        else:
            subset.extend(list(root.u_0))
        inorder_traversal(root.V,subset)
        inorder_traversal(root.D,subset)
final_parameter = []
inorder_traversal(final_node,final_parameter)

In [40]:
final_parameter
new_frm = pd.DataFrame(index=final_parameter, columns=final_parameter)
new_frm

,18,15,16,9,13,6,12,10,11,5,3,2,4,7,8,14,17,1
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
L_F_list = []
inorder_traversal(Head_node.U_1,L_F_list)
F_list = list(Head_node.F)
V_list = []
inorder_traversal(Head_node.V,V_list)
D_list = []
inorder_traversal(Head_node.D,D_list)
print("L-F:",L_F_list)
print("F: ",F_list)
print("V:",V_list)
print("D: ",D_list)

L-F: [18, 15, 16]
F:  [9, 13, 6]
V: [10, 11]
D:  [5, 3, 2, 4, 7, 8, 14, 17, 1]

In [48]:
current_node = Head_node

def recursive_frm(root):
    
    L_F_list = []
    inorder_traversal(root.U_1,L_F_list)
    F_list =[] if root.F == None else list(root.F)
    V_list = []
    inorder_traversal(root.V,V_list)
    D_list = []
    inorder_traversal(root.D,D_list)
    key = root.u_0
    print("L-F:",L_F_list)
    print("F: ",F_list)
    print("V:",V_list)
    print("D: ",D_list)
    print("Key: ",key)
    

    if len(F_list) > 0:
        new_frm.loc[F_list,key] = 1
        new_frm.loc[key,F_list] = 1
        #display(Markdown('<h2>Displaying after adding key into matrix:</h2>'))
        #display(new_frm)
        new_frm.loc[F_list,F_list] = 1

        if len(V_list) > 0:
            new_frm.loc[F_list,V_list] = 0
            new_frm.loc[V_list,F_list] = 0
            #display(Markdown('<h2>Displaying after V list filling:</h2>'))
            #display(new_frm)

        if len(D_list) > 0:
            new_frm.loc[F_list,D_list] = 0
            new_frm.loc[D_list,F_list] = 1


    if len(L_F_list) > 0 :
        new_frm.loc[L_F_list,key] = 0
        new_frm.loc[key,L_F_list] = 1
        if len(F_list) > 0:
            new_frm.loc[L_F_list,F_list] = 0
            new_frm.loc[F_list,L_F_list] = 1
            #display(Markdown('<h2>Displaying after filling ones and zeros in L and F:</h2>'))
            #display(new_frm)
        if len(V_list) > 0:
            new_frm.loc[L_F_list,V_list] = 0
        if len(D_list) > 0:
            new_frm.loc[L_F_list,D_list] = 0
            new_frm.loc[D_list,L_F_list] = 1


    if len(V_list) > 0:
        new_frm.loc[V_list,V_list] = 1

        
    if len(D_list) > 0 :
        new_frm.loc[D_list,key] = 1
        new_frm.loc[key,D_list] = 0
        new_frm.loc[V_list,D_list] = 0

    if len(V_list) > 0:
        new_frm.loc[V_list,key] = 0
        new_frm.loc[key,V_list] = 0

    display(new_frm)
    if len(L_F_list) > 1 :
        recursive_frm(root.U_1)
    if len(V_list) >1 :
        recursive_frm(root.V)
    if len(D_list) > 1:
        recursive_frm(root.D)

In [49]:
recursive_frm(current_node)

L-F: [18, 15, 16]
F:  [9, 13, 6]
V: [10, 11]
D:  [5, 3, 2, 4, 7, 8, 14, 17, 1]
Key:  12

     18   15   16 9  13 6    12   10   11   5    3  2  4  7  8  14 17   1
18    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
15    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
16    1    1  NaN  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
9     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
13    1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
6     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
12    1    1    1  1  1  1  NaN    0    0    0    0  0  0  0  0  0  0    0
10  NaN  NaN  NaN  0  0  0    0    1    1    0    0  0  0  0  0  0  0    0
11  NaN  NaN  NaN  0  0  0    0    1    1    0    0  0  0  0  0  0  0    0
5     1    1    1  1  1  1    1  NaN  NaN  NaN    0  0  0  0  0  0  0    0
3     1    1    1  1  1  1    1  NaN  NaN    1  NaN  0  0  0  0  0  0    0
2     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
4     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
7     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
8     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
14    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
17    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
1     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1  NaN

L-F: []
F:  [18, 15]
V: []
D:  []
Key:  16

     18   15   16 9  13 6    12   10   11   5    3  2  4  7  8  14 17   1
18    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
15    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
16    1    1  NaN  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
9     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
13    1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
6     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
12    1    1    1  1  1  1  NaN    0    0    0    0  0  0  0  0  0  0    0
10  NaN  NaN  NaN  0  0  0    0    1    1    0    0  0  0  0  0  0  0    0
11  NaN  NaN  NaN  0  0  0    0    1    1    0    0  0  0  0  0  0  0    0
5     1    1    1  1  1  1    1  NaN  NaN  NaN    0  0  0  0  0  0  0    0
3     1    1    1  1  1  1    1  NaN  NaN    1  NaN  0  0  0  0  0  0    0
2     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
4     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
7     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
8     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
14    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
17    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
1     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1  NaN

L-F: []
F:  []
V: []
D:  [11]
Key:  10

     18   15   16 9  13 6    12   10   11   5    3  2  4  7  8  14 17   1
18    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
15    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
16    1    1  NaN  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
9     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
13    1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
6     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
12    1    1    1  1  1  1  NaN    0    0    0    0  0  0  0  0  0  0    0
10  NaN  NaN  NaN  0  0  0    0    1    0    0    0  0  0  0  0  0  0    0
11  NaN  NaN  NaN  0  0  0    0    1    1    0    0  0  0  0  0  0  0    0
5     1    1    1  1  1  1    1  NaN  NaN  NaN    0  0  0  0  0  0  0    0
3     1    1    1  1  1  1    1  NaN  NaN    1  NaN  0  0  0  0  0  0    0
2     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
4     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
7     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
8     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
14    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
17    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
1     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1  NaN

L-F: [5, 3]
F:  [2, 4, 7, 8, 14, 17]
V: []
D:  []
Key:  1

     18   15   16 9  13 6    12   10   11   5    3  2  4  7  8  14 17   1
18    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
15    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
16    1    1  NaN  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
9     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
13    1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
6     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
12    1    1    1  1  1  1  NaN    0    0    0    0  0  0  0  0  0  0    0
10  NaN  NaN  NaN  0  0  0    0    1    0    0    0  0  0  0  0  0  0    0
11  NaN  NaN  NaN  0  0  0    0    1    1    0    0  0  0  0  0  0  0    0
5     1    1    1  1  1  1    1  NaN  NaN  NaN    0  0  0  0  0  0  0    0
3     1    1    1  1  1  1    1  NaN  NaN    1  NaN  0  0  0  0  0  0    0
2     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
4     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
7     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
8     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
14    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
17    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
1     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1  NaN

L-F: [5]
F:  []
V: []
D:  []
Key:  3

     18   15   16 9  13 6    12   10   11   5    3  2  4  7  8  14 17   1
18    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
15    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
16    1    1  NaN  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
9     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
13    1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
6     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
12    1    1    1  1  1  1  NaN    0    0    0    0  0  0  0  0  0  0    0
10  NaN  NaN  NaN  0  0  0    0    1    0    0    0  0  0  0  0  0  0    0
11  NaN  NaN  NaN  0  0  0    0    1    1    0    0  0  0  0  0  0  0    0
5     1    1    1  1  1  1    1  NaN  NaN  NaN    0  0  0  0  0  0  0    0
3     1    1    1  1  1  1    1  NaN  NaN    1  NaN  0  0  0  0  0  0    0
2     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
4     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
7     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
8     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
14    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
17    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
1     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1  NaN

In [50]:
display(new_frm)

     18   15   16 9  13 6    12   10   11   5    3  2  4  7  8  14 17   1
18    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
15    1    1    1  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
16    1    1  NaN  0  0  0    0    0    0    0    0  0  0  0  0  0  0    0
9     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
13    1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
6     1    1    1  1  1  1    1    0    0    0    0  0  0  0  0  0  0    0
12    1    1    1  1  1  1  NaN    0    0    0    0  0  0  0  0  0  0    0
10  NaN  NaN  NaN  0  0  0    0    1    0    0    0  0  0  0  0  0  0    0
11  NaN  NaN  NaN  0  0  0    0    1    1    0    0  0  0  0  0  0  0    0
5     1    1    1  1  1  1    1  NaN  NaN  NaN    0  0  0  0  0  0  0    0
3     1    1    1  1  1  1    1  NaN  NaN    1  NaN  0  0  0  0  0  0    0
2     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
4     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
7     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
8     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
14    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
17    1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1    1
1     1    1    1  1  1  1    1  NaN  NaN    1    1  1  1  1  1  1  1  NaN

##backup code

if len(F_list) > 0:
    new_frm.loc[F_list,key] = 1
    new_frm.loc[key,F_list] = 1
    #display(Markdown('<h2>Displaying after adding key into matrix:</h2>'))
    #display(new_frm)
    new_frm.loc[F_list,F_list] = 1

    if len(V_list) > 0:
        new_frm.loc[F_list,V_list] = 0
        new_frm.loc[V_list,F_list] = 0
        #display(Markdown('<h2>Displaying after V list filling:</h2>'))
        #display(new_frm)
        
    if len(D_list) > 0:
        new_frm.loc[F_list,D_list] = 0
        new_frm.loc[D_list,F_list] = 1
    
    
if len(L_F_list) > 0 :
    new_frm.loc[L_F_list,key] = 0
    new_frm.loc[key,L_F_list] = 1
    if len(F_list) > 0:
        new_frm.loc[L_F_list,F_list] = 0
        new_frm.loc[F_list,L_F_list] = 1
        #display(Markdown('<h2>Displaying after filling ones and zeros in L and F:</h2>'))
        #display(new_frm)
    if len(V_list) > 0:
        new_frm.loc[L_F_list,V_list] = 0
    if len(D_list) > 0:
        new_frm.loc[L_F_list,D_list] = 0
        new_frm.loc[D_list,L_F_list] = 1

        
if len(D_list) > 0 and len(V_list) > 0:
    new_frm.loc[V_list,L_F_list] = 1
        
if len(D_list) > 0 :
    new_frm.loc[D_list,key] = 1
    new_frm.loc[key,D_list] = 0

if len(V_list) > 0:
    new_frm.loc[V_list,key] = 0
    new_frm.loc[key,V_list] = 0

display(new_frm)

In [49]:
# name = [[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         [0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0],
#         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
#         [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0],
#         [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
#         [1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
#         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]
# df = pd.DataFrame.from_records(name)
# df.columns = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
# df.index = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
# df

In [73]:
x = {1,2,3}

In [79]:
z = x.discard({1,2})

In [80]:
z